name: build example
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Bundle code into a zip
        run: |
          zip -r build.zip . 
        
      
    
