name: Checkout Example
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List directory contents
        run: |
          echo "Listing all files and directories:"
          ls -alhR
